[flake8]
accept-encodings = utf-8
max-complexity = 6
statistics = False
max-line-length = 80
enable-extensions = G
isort-show-traceback = True

exclude = .git,__pycache__,.venv,dist,build, */migrations/*.py

ignore =
# line break occurred before a binary operator
    W503,  D100, D101, D104, D106,

per-file-ignores =
    task_manager/settings.py: WPS226, WPS407, E501