{% extends "layouts/base.html" %}
{% load custom_filters %}
{% load i18n %}


{% block content %}
    <div class="container-fluid  d-flex flex-column">
        <div class="row flex-grow-1">
            <div class="col-md-6 offset-md-3 "><span class="text-white-75 fs-4">{% translate "Entry" %}</span>
                <form action="" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-5">
                            <label class="form-label float-start text-white-75 "
                                   for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field|add_class:'form-control' }}
                            <p class="form-text text-white-50 float-start mb-0">{{ field.help_text }}</p>
                        </div>
                    {% endfor %}
                {% if form.non_field_errors %}
                    <div class="text-danger pt-0 mt-0 mb-4 form-text fs-5"> {{ form.non_field_errors.0 }}</div>
                {% endif %}
                    <button type="submit" class="btn btn btn-outline-primary">{% translate "Login" %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}