<!doctype html>
{% load i18n %}
{% load django_bootstrap5 %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{% block title %}{% translate "Task manager" %}{% endblock %}</title>
    {% bootstrap_css %}
</head>

<body class="d-flex flex-column h-100 text-center text-white bg-dark">
<div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto py-3">
        <div>
            <h3 class="float-start mb-0 fs-2">Task Manager</h3>
            <nav class=" nav justify-content-center  float-md-end   ">
                <a class=" float-md-start fs-4 text-white-50 mx-4 link-offset-2 link-offset-3-hover-light
                   link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                   aria-current="page" href="#">{% translate "Users" %}</a>
                <a class="fs-4 text-white-50 mx-4  link-offset-2 link-offset-3-hover link-underline
                   link-underline-opacity-0 link-underline-opacity-75-hover"
                   href="#">{% translate "Login" %}</a>
                <a class="fs-4 text-white-50 mx-4 link-offset-2 link-offset-3-hover link-underline
                   link-underline-opacity-0 link-underline-opacity-75-hover"
                   href="#">{% translate "Registration" %}</a>
            </nav>
        </div>
    </header>
</div>
{% block content %}
<main class="px-3 mt-5 d-flex flex-column justify-content-center align-items-center flex-grow-1">
    <h1 class="fs-1">Task Manager</h1>
    <p class="lead fs-4 mt-2">{% translate "Task Manager is a convenient tool for managing tasks." %}</p>
    <p class="lead fs-4">
        {% translate "Register or log in to create tasks, assign them statuses, add tags and assign assignees." %}
    </p>
    <p class="lead fs-4">
    {% translate "You can always be aware of the status of each task, which will allow you to easily control the workflow." %}
    </p>
    <p class="lead fs-4">{% translate "Unauthorized users can only view the list of system users" %}</p>
    <!--    <p class="lead fs-4">Управляйте задачами, улучшайте продуктивность и добивайтесь успеха с Task Manager!</p>-->
</main>
{% endblock %}
{% block footer %}
<footer class="container my-5 pt-4 border-top">
    <span> <a href="https://github.com/Kostyanuch-c/python-project-52"
              class="text-decoration-none ">Task Manager</a></span>
</footer>
{% endblock %}

{% bootstrap_javascript %}
</body>
</html>
