<!doctype html>
{% load i18n %}
{% load django_bootstrap5 %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{% block title %}{% translate "Task manager" %}{% endblock %}</title>
    {% bootstrap_css %}
</head>

<body class=" d-flex flex-column text-center text-white bg-dark">
<div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto py-3">
        <div>
            <h3 class="float-start mb-0 fs-3">
                <a href="{% url 'index' %}" class="text-light link-offset-3 link-offset-3-hover link-underline
                   link-underline-opacity-75-hover
                   {% if request.path != '/' %}link-underline-opacity-0 {% endif %}"> Task Manager</a></h3>
            <nav class=" nav justify-content-center float-md-end mx-4">
                <a class="fs-5 text-white-50 mx-4 link-offset-3 link-offset-3-hover link-underline-opacity-75-hover
                    link-underline {% if request.path != '/users/' %} link-underline-opacity-0 {% endif %}"
                   href="{% url 'users_list' %}">{% translate "Users" %}</a>
                {% if user.is_authenticated %}
                    <a class="fs-5 text-white-50 mx-4 link-offset-3 link-offset-3-hover link-underline-opacity-75-hover
                    link-underline {% if request.path != '/tasks/' %} link-underline-opacity-0 {% endif %}"
                       href="{% url "task_list" %}">{% translate "Tasks" %}</a>
                    <a class="fs-5 text-white-50 mx-4 link-offset-3 link-offset-3-hover link-underline-opacity-75-hover
                    link-underline {% if request.path != '/statuses/' %} link-underline-opacity-0 {% endif %}"
                       href="{% url "status_list" %}">{% translate "Statuses" %}</a>
                    <a class="fs-5 text-white-50 mx-4 link-offset-3 link-offset-3-hover link-underline-opacity-75-hover
                    link-underline {% if request.path != '/labels/' %} link-underline-opacity-0 {% endif %}"
                       href="{% url "label_list" %}">{% translate "Labels" %}</a>
                    <form method="post" action="/logout/" class="d-inline">
                        {% csrf_token %}
                        <button class="btn btn-link fs-5 text-white-50 mx-4 p-0 text-decoration-none"
                                type="submit">
                            {% translate "Logout" %}
                        </button>
                    </form>
                {% else %}
                    <a class="fs-5 text-white-50 mx-4 link-offset-3 link-offset-3-hover link-underline-opacity-75-hover
                    link-underline {% if request.path != '/login/' %} link-underline-opacity-0 {% endif %}"
                       href="{% url 'login' %}">{% translate "Login in" %}</a>
                    <a class="fs-5 text-white-50 mx-4 link-offset-3 link-offset-3-hover link-underline-opacity-75-hover 
                    link-underline {% if request.path != '/users/create/' %} link-underline-opacity-0 {% endif %}"
                       href="{% url 'create_user' %}">{% translate "Registration" %}</a>
                {% endif %}
            </nav>
        </div>
    </header>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            {% bootstrap_messages %}
        </div>
    </div>
</div>
{% block content %}

{% endblock %}
{% block footer %}
    <footer class="container my-5 pt-4 border-top">
    <span> <a href="https://github.com/Kostyanuch-c/python-project-52"
              class="text-decoration-none ">Task Manager</a></span>
    </footer>
{% endblock %}

{% bootstrap_javascript %}
</body>
</html>
