{% load i18n %}
{% load custom_filters %}

<div class="container-lg mt-3 ">
    <h1>{{ title_list }}</h1>
    <div class="table-responsive ">
        <table class="table table-bordered text-nowrap table-striped table-dark">
            <thead>
            <tr>
                <th>ID</th>
                {% for title in titles_columns %}
                    <th>{{ title }}</th>
                {% endfor %}
                <th>{% translate "Created at" %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.id }}</td>
                    {% for field in fields %}
                        <td>{{ object|get_attribute:field }}</td>
                    {% endfor %}
                    <td>{{ object.created_at|date:"d:m:Y H:i" }}</td>
                    <td>
                        <div>
                            <a class="link-info link-offset-2 link-underline-opacity-0
                                link-underline-opacity-100-hover"
                               href="{% url url_to_update object.id %}">{% translate "Change" %}</a>
                        </div>
                        <div>
                            <a class="link-danger link-offset-2 link-underline-opacity-0
                                 link-underline-opacity-100-hover"
                               href="{% url url_to_delete object.id %}">{% translate "Delete" %} </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>