{% load i18n %}
{% load custom_filters %}

<div class="container-lg mt-3 ">
    <div class="table-responsive ">
        <table class="table table-bordered text-nowrap table-striped table-dark">
            <thead>
            <tr>
                <th>ID</th>
                {% for title in form.titles_columns %}
                    <th>{{ title }}</th>
                {% endfor %}
                <th>{% translate "Created at" %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    {% for attr in form.attrs %}
                        {% if url_to_detail %}
                            <td>
                                <a href="{% url url_to_detail object.id %}"
                                   class="link-primary link-offset-2 link-underline-opacity-25
                                   link-underline-opacity-100-hover">
                                    {{ object|get_attribute:attr|default:'' }}
                                </a>
                            </td>
                        {% else %}
                            <td>{{ object|get_attribute:attr|default:'' }}</td>
                        {% endif %}
                    {% endfor %}
                    <td>
                        <div>
                            <a class="link-info link-offset-2 link-underline-opacity-0
                                link-underline-opacity-100-hover"
                               href="{% url form.url_to_update object.id %}">{% translate "Change" %}</a>
                        </div>
                        <div>
                            <a class="link-danger link-offset-2 link-underline-opacity-0
                                 link-underline-opacity-100-hover"
                               href="{% url form.url_to_delete object.id %}">{% translate "Delete" %} </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>