{% extends 'layouts/base.html' %}
{% load i18n %}

{% block content %}

    <main class="px-3 mt-5 d-flex flex-column justify-content-center align-items-center flex-grow-1">
        {% if user.is_authenticated %}
            <h1 class="fs-1"> {% translate "Welcome to Task Manager!" %}</h1>
            <p class="lead fs-4 mt-2">
                {% translate "Now you have access to the full functionality of the system." %}
            </p>
            <p class="lead fs-4">
                {% translate "- Create new tasks for yourself and other users." %}
            </p>
            <p class="lead fs-4">
                {% translate "- Create your own statuses and assign them to tasks to monitor their implementation." %}

            </p>
            <p class="lead fs-4">
                {% translate "- Create and add tags to tasks to quickly categorize them." %}

            </p>
            <p class="lead fs-4">
                {% translate "- Assign tasks to people to share responsibility." %}

            </p>
            <p class="lead fs-4">
                {% translate "- Monitor the progress of tasks." %}
            </p>
            <p class="lead fs-4">
                {% translate "Use Task Manager to optimize your workflow and achieve your goals!" %}
            </p>
        {% else %}
            <h1 class="fs-1">Task Manager</h1>
            <p class="lead fs-4 mt-2">{% translate "Task Manager is a convenient tool for managing tasks." %}</p>
            <p class="lead fs-4">
                {% translate "Register or log in to create tasks, assign them statuses, add tags and assign assignees." %}
            </p>
            <p class="lead fs-4">
                {% translate "You can always be aware of the status of each tasks, which will allow you to easily control the workflow." %}
            </p>
            <p class="lead fs-4">{% translate "Unauthorized users can only view the list of system users" %}</p>
            </main>
        {% endif %}
{% endblock %}