{% extends "layouts/base.html" %}
{% load i18n %}

{% block content %}
    <div class="container mt-3 mb-0 text-start">
        <h1 class="display-3">{% translate "View task" %}</h1>
    </div>
    <div class=" container mt-1">
        <div class="rounded-3 p-4 m-2 text-start bg-dark text-light shadow-lg">
            <h2 class="text-break">{{ object.name }}</h2>
            <p class="lh-base fst-italic fs-5 text-break"> {% translate "Description" %}: {{ object.description|default:'' }}</p>
            <p class="lh-base fst-italic fs-5 text-break"> {% translate "Author" %}: {{ object.author.full_name }}</p>
            <p class="lh-base fst-italic fs-5 text-break"> {% translate "Performer" %}: {{ object.executor.full_name|default:'' }}</p>
            <p class="lh-base fst-italic fs-5 text-break"> {% translate "Status" %}: {{ object.status.name }}</p>
            <p class="lh-base fst-italic fs-5 text-break"> {% translate "Created at" %}: {{ object.created_at|date:"d:m:Y H:i" }}</p>
            <p class="fw-semibold lh-base fst-italic fs-5 text-break mb-1"> {% translate "Tags" %}:</p>
            <ul>
                {% for label in object.labels.all %}
                    <li style="color: #ffffff;">
                        <span class="text-white fs-5 fst-italic text-break">{{ label }}</span>
                    </li>
                {% endfor %}
            </ul>
            <button type="button" class="btn btn-lg btn-outline-primary "
                    onclick="location.href='{% url 'task_update' object.id %}'">{% translate "Edit" %}</button>

            <button type="button" class="btn btn-lg btn-outline-danger mx-4"
                    onclick="location.href='{% url 'task_delete' object.id %}'">{% translate "Delete" %}</button>
        </div>
    </div>
{% endblock %}